<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Steve Colacurcio</title>
		<link rel="stylesheet" type="text/css" href="/normalize.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="wrapper">
			<header id="main-header" class="group">
				<a href="#" id="main-logo">Steve Colacurcio</a>
				<div id="links">
					<a href="#">About</a>
					<a href="#">Projects</a>
					<a href="#">Contact</a>
				</div>
			</header>
			<div class-"primary-content">
				<h2>Primary Content</h2>
				<p>stuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuff</p>
			</div>
			<div class-"secondary-content">
				<h2>Secondary Content</h2>
				<p>stuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuffstuff</p>

			</div>

		</div>

		<footer class="footer"></footer>
	</body>
</html>
