<!doctype html>

<html lang="en">
	<head>
		<base href="/"></base>
		<meta charset="utf-8">
		<title>Steve Colacurcio</title>
		<link rel="stylesheet" type="text/css" href="/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
		<script src="/angular/angular.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/main.js"></script>
	</head>

	<body ng-app="portfolio">
		<div id="wrapper">
			<header id="main-header" class="group">
				<a ui-sref="home" id="main-logo">Steve Colacurcio {{2+3}}</a>
				<div id="links">
					<a ui-sref="about">About</a>
					<a ui-sref="projects">Projects</a>
					<a ui-sref="contact">Contact</a>
				</div>
			</header>
		<div id="main" ui-view></div>
		<footer class="footer"></footer>
		</div>
	</body>
</html>
