/*About Page
========================*/

/*Colors
========================*/
$aqua: #7FFFD4;
$cyan: #E0FFFF;
$cream: #F5FFFA;
$pastelBlue: #33CCFF;
$pastelOrange: lightsalmon;
$pastelPurple: #C688E8;
$pastelRed: #FF807D;
$pastelPink: #FF8EB2;

/*Page Styles
========================*/

#about {
	
}
