/*Home Page
========================*/

$header-height: 65px;
$footer-height: 40px;

/*Colors
========================*/
$aqua: #7FFFD4;
$cyan: #E0FFFF;
$cream: #F5FFFA;
$pastelBlue: #33CCFF;
$pastelOrange: lightsalmon;
$pastelPurple: #C688E8;
$pastelRed: #FF807D;
$pastelPink: #FF8EB2;
$darkGray: rgb(45,45,45);


/*Fonts
========================*/
@font-face {
	font-family: bebas;
	src: url('/bebas/bebasNeue Bold.otf');
}

/*Page Styles
========================*/

#home {
	// background-image: url('bgnoise.jpg');
	// background-image: url('blue-pink-gradient');
	// background-size: cover;
	// background: linear-gradient(135deg, $pastelPink -40%, $cyan 50%);

	height: calc(100vh - $footer-height);
	// height: calc(100vh - 40px);

	// background-image: url('vice-city.gif');
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: bottom;
	#header {
		width: 100%;
		height: 33vh;
		padding: 4% 7% 0% 7%;
		margin: auto;
		margin-bottom: 5%;
		h1 {
			color: rgb(230,230,230);
			font-family: 'Lobster';
			// font-family: 'Lato'
			text-align: left;
			font-size: 4vw;
			margin-left: 0px;
			// font-weight: 400;
			// margin-bottom: 40px;
		}

		/*Fancy Underline*/
		.cool-underline {
			overflow: hidden;
			position: relative;
			vertical-align: bottom;
			&:after {
				background: none center 1.20em / 100% 3px no-repeat;
				// background: linear-gradient(90deg, $pastelPurple 15%, $pastelRed 35%, $aqua 85%) center 1.20em / 100% 3px no-repeat;
				animation: underline-gradient 6s linear infinite;
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 400%;
				will-change: transform;
				z-index: -1;
			}
			&:hover:after {
				animation: underline-gradient 6s linear infinite;
				background-image: linear-gradient(
				90deg, $pastelPurple 15%, $pastelRed 35%, $aqua 55%, $pastelPurple 85%);
			}
		}

		@keyframes underline-gradient {
			0%{transform: translate3d(0%, 0%, 0);}
			100%{transform: translate3d(-75%, 0%, 0);}
		}
		.left-col {
			min-width: 40%;
			float: left;
		}

		#graphic {
			float: right;
			min-width: 25%;
			margin-top: 47px;
			margin-right: 2%;
			// perspective: 300;
		}
		#static-bars {
			display: none;
		}
	}


	#carousel-wrapper, #carousel figure {
		height: 50px;
		line-height: 50px;
	}

	#carousel figure:nth-of-type(1) { transform: rotateX(0deg) translateZ(60px); }
	#carousel figure:nth-of-type(2) { transform: rotateX(60deg) translateZ(60px); }
	#carousel figure:nth-of-type(3) { transform: rotateX(120deg) translateZ(60px); }
	#carousel figure:nth-of-type(4) { transform: rotateX(180deg) translateZ(60px); }
	#carousel figure:nth-of-type(5) { transform: rotateX(240deg) translateZ(60px); }
	#carousel figure:nth-of-type(6) { transform: rotateX(300deg) translateZ(60px); }
	#carousel[data-state="1"] figure:nth-of-type(1),
	#carousel[data-state="2"] figure:nth-of-type(2),
	#carousel[data-state="3"] figure:nth-of-type(3),
	#carousel[data-state="4"] figure:nth-of-type(4),
	#carousel[data-state="5"] figure:nth-of-type(5),
	#carousel[data-state="6"] figure:nth-of-type(6) { opacity: 1; }

	#carousel-wrapper {
		width: 100%;
		// margin-left: 100px;
		// margin: auto;
		perspective: 1100px;
		animation-delay: .5s;
		// transform: rotateY(-45deg);
	}

	#carousel {
		// position: relative;
		width: 100%;
		height: 100%;
		z-index: 100;
		transform-style: preserve-3d;
		transition: all 1s;

	}

	#carousel figure {
		display: block;
		position: absolute;
		width: 100%;
		margin: 0px;
		font-size: 26px;
		color: $cream;
		text-align: center;
		opacity: .2;
		transition: all 1s;
		backface-visibility: hidden;
	}

	#fig-1 {background-color: $pastelPink;}
	#fig-2 {background-color: $aqua;}
	#fig-3 {background-color: $pastelBlue;}
	#fig-4 {background-color: $pastelRed;}
	#fig-5 {background-color: $pastelPurple;}
	#fig-6 {background-color: $pastelOrange;}

	hr {
		// margin-top: 100px;
		// border-width: 3px;
	}

	#projects-header {
		font-size: 36px;
		display: block;
		margin: 15px 0px;
		margin-top: 20px;
		color: rgb(230,230,230);
		// height: 40px;
	}
	#bottom-panel {
		width: 85%;
		margin: auto;

		#projects-row:first-child {
			margin-left: 50px;
		}
		#projects-row {
			// border: solid dimgray 2px;
			border-radius: 10px;
			height: 100%;
			font-size: 0;
			list-style-type: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 5px;
			#project-1 {
				background: url('cohearence.png');
				background-size: cover;
				background-position: left;
			}
			#project-2 {
				background: url('spheres-center.png');
				background-size: cover;
				background-position: center;
			}
			#project-3 {
				background: url('gimme.png');
				background-size: cover;
				// background-position: center;
			}

			li {
				border-radius: 10px;
				height: 223px;
				margin: 10px;
				// margin-right: 8px;
				flex: auto;
				width: 200px;
				align-self: center;
				// flex-grow: 1;
				a {
					height: 100%;
					.overlay {
						height: 100%;
						border-radius: 10px;
						background: rgba(20,20,20,.75);
						padding: 10px;
						opacity: 0;
						transition: opacity .25s ease;
					}
					&:hover {
						.overlay{
							opacity: 1;
						}
					}
					h1, p {
						color:rgb(230,230,230);
					}
					h1 {
						margin: 0px;
						font-size:24px;
					}
					p {
						font-size: 18px;
					}
				}
			}
		}
	}
}

/*Media Queries
=============================*/

@media (max-width: 1394px){
	#home #header {
		margin-bottom: 80px;

		.left-col, #graphic {
			text-align: center;
			float: none !important;
			display: block !important;
			margin: auto;
		}
		#graphic {
			margin-top: 70px;
			// width: 94%;
			width: 300px;
		}
	}
	#home #header .cool-underline {
		background: none;
		&:hover:after {
			background-image: none;
		}
	}
}

@media (max-width: 954px){
	figure {
		font-size: 1.8em !important;
	}
	#home #header .cool-underline {
		background: none;
		&:hover:after {
			background-image: none;
		}
	}
}

@media (max-width: 768px){
	#home {
		#header {
	.cool-underline {
		background: none;
		&:hover:after {
			background-image: none;
		}
	}
			min-height: 460px;
			padding: 0px;

			.left-col {
				font-size: 42px;
				margin: 20px 20px 30px 20px;

				// animation: none;
			}
			#static-bars {
				padding: 0px;
				list-style-type: none;
				display: block;
				li {
					height: 60px;
					text-align: left;
					margin: 0px;
					font-size: 24px;
					padding: 15px 20px;
					color: dimgray;
					// color: rgb(230,230,230);
					// padding-left: 7%;
					// padding-top: 10px;
					// padding-bottom: 10px;
					// animation: slideInLeft random(20) + s;
				}
			}
			#graphic {
				display: none !important;
			}
		}
		#bottom-panel {
			margin-bottom: 70px;

			a {
				font-size: 30px;
			}
			hr {
				margin-top: 30px;
				margin-bottom: 20px;
			}
			#projects-row {
				flex-direction: column;
				li {
					width: 100%;
					height: 300px;
					a {
						.overlay {
							// background-color: rgb(250,250,250,60%);
							opacity: .8;
							padding: 40px 15px;
							text-align: center;
						}
						h1, p {
							color:$cream;
						}
						h1 {
							margin: 0px;
							font-size: 42px;
							padding-top: 10px;
						}
						p {
							display: none;
						}
					}
				}
				}
		}
	}
}

// $diam: 2000px;
//
// #circle-1{
// 	top:300px;
// 	left:800px;
// 	height:$diam;
// }
//
// #circle-2{
// 	top:300px;
// 	left:-1450px;
// 	height:$diam;
// 	background-color:$pastelBlue;
// }
//
// .big-circle {
// 	background-color: $pastelRed;
// 	position:absolute;
// 	display:inline-block;
// 	width:$diam;
// 	opacity: .3;
// 	border-radius:100%;
// }
//
// .spin-clockwise {
// 	animation:3s rot infinite linear;
// }
//
// .spin-counterclockwise {
// 	animation:3s rot-counter infinite linear;
// }
//
// @keyframes rot {
// 	from {
// 		transform: rotate(0deg)
// 		           translate(-($diam/2))
// 		           rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg)
// 		           translate(-($diam/2))
// 		           rotate(-360deg);
// 	}
// }
//
//
// @keyframes rot-counter {
// 	from {
// 		transform: rotate(0deg)
// 				   translate($diam/2)
// 				   rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(-360deg)
// 				   translate($diam/2)
// 				   rotate(360deg);
// 	}
// }
