@import "a-mixins";

$header-height: 65px;
$footer-height: 40px;

/*Page Styles
========================*/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Colors
========================*/
$aqua: #7FFFD4;
$cyan: #E0FFFF;
$cream: #F5FFFA;
$pastelBlue: #33CCFF;
$pastelOrange: lightsalmon;
$pastelPurple: #C688E8;
$pastelRed: #FF807D;
$pastelPink: #FF8EB2;
$darkGray: rgb(45,45,45);
$softGray: rgb(60,60,60);
$softWhite: rgb(230,230,230);

/*Fonts
========================*/
h1, h2, h3, p, a, li, footer, figure, input, textarea, text, button {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	// color: dimgray;
	color: rgb(200,200,200);

}

a {
	text-decoration: none;
}

/*Page Styles
========================*/
html,
body {
	padding:0;
	// height:100vh; //this screwed with the about page resizing, oddly
	margin: 0;
	overflow: hidden;
}

body {
	background-color: $darkGray;
	background: linear-gradient($pastelBlue 20%,  $pastelRed 40%, $darkGray);
	background: linear-gradient($softGray 10%, $darkGray)
	// background-image: url('bgnoise.jpg');
	// background-size: contain;
	// background-image: url('vaporwave-landscape.jpg');
	// background-image: url('vaporwave-2.png');
	// background: linear-gradient(rgb(50,50,50), dimgray);
}

footer {
	text-align: center;
	font-size: 16px;
	width:100%;
	// background: linear-gradient(240deg, $aqua 40%, $pastelBlue 150%);
	height:$footer-height;
	position:fixed;
	bottom:0;
	left:0;
	color: rgb(230,230,230);


	a {
		color: rgb(230,230,230);
		text-decoration: none;
		transition: all 0.25s ease-in-out;
		&:hover {
			color: $aqua;
		}
	}
}

#wrapper {
	margin: auto;
	min-height:100vh;
}

#main-header {
	padding-left: 20px;
	padding-right: 20px;
	// background: linear-gradient(10deg, $aqua 50%, $pastelBlue 150%);
	#main-logo {
		font-size: 30px;
		float: left;
		color: $softWhite;
		// min-height: $header-height;
		text-align:center;
		font-family: 'Lobster', cursive;
		&:hover {
			color: $aqua;
		}
	}

	// #perspective-container {
	// 	position: absolute;
	// 	top:0;
	// 	right: 0;
	// 	perspective: 100;
	// 	// z-index: -1;
	//
	// }
	// #perspective {
	// 	// position: absolute;
	// 	background-color: $pastelPink;
	// 	top: 0;
	// 	right: 0;
	// 	width: 320px;
	// 	opacity: .8;
	// 	z-index: -1;
	// 	height: 40px;
	// 	transform: rotateX(45deg);
	// }

	#links {
		z-index: 2;
		float: right;
		min-height: $header-height;

		a {
			z-index: 3;
			display: inline-block;
			height: 65px;
			color: rgb(230,230,230);
			text-decoration: none;
			font-size: 16px;
			margin-left: -4px;
			padding-top: 20px;
			padding-bottom: 20px;
			// border: solid transparent 1px;
			// border-radius: 50px;
			&:hover {
				// background-color: dimgray;
				color: $aqua;
				// background-color: $aqua;
				// border: solid 1px $aqua;
				// text-decoration: line-through;
			}
		}
	}

	#main-logo, #links a {
		padding-left: 20px;
		padding-right: 20px;
		transition: all 0.25s ease-in-out;
		text-align: center;
	}

	#main-logo {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.col {
	padding: 20px;
}

/*Cool Underline*/
.cool-underline {
	overflow: hidden;
	position: relative;
	vertical-align: bottom;
	&:after {
		background: none center 3em / 100% 3px no-repeat;
		// background: linear-gradient(90deg, $pastelPurple 15%, $pastelRed 35%, $aqua 85%) center 1.20em / 100% 3px no-repeat;
		animation: underline-gradient 6s linear infinite;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 400%;
		will-change: transform;
		z-index: -1;
	}
	&:hover:after {
		animation: underline-gradient 6s linear infinite;
		background-image: linear-gradient(
		90deg, $pastelPurple 15%, $pastelRed 35%, $aqua 55%, $pastelPurple 85%);
	}
}

/*Clearfix
===========================*/
.group::after{
	content: "";
	display: table;
	clear: both;
}

/*Media Queries
=============================*/
@media (max-width: 768px){
	body {
		height: 100vh;
		// overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	footer {
		position: relative;
	}
	#links {
		display: flex;
		align-content: space-around;
		min-height: 40px !important;
		// align-items: center;
		// perspective: 200px;
	}
	#links a {
		// -webkit-transform: rotateX(45deg);
		width: 100%;
		font-size: 18px !important;
		float: none !important;
		// background-color: $pastelPink;
		// border: solid dimgray 2px;

		// height: 60px !important;
		// padding-top: 20px !important;
		// padding-bottom:18px !important;

	}
	#links, #main-logo {
		width: 100%;
		height: initial;
		float: none !important;
		margin: auto;
	}
	#main-logo {
		padding-top: 20px !important;
		display: block;
	}
}

@import 'contact';
@import 'a-projects';
@import 'home';
@import 'about';
