/*Page Styles
========================*/
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Colors
========================*/
$lightBlue: #37BEFF;
$aqua: #7FFFD4;
$cyan: #E0FFFF;
$cream: #F5FFFA;

/*Fonts
========================*/
h1, h2, h3, p, a, li, footer {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}

/*Page Styles
========================*/
html,
body {
	padding:0;
	height:100%;
	margin: 0;
}

body {
	background-image: url('bgnoise.jpg');
}

footer {
	text-align: center;
	font-size: 16px;
	width:100%;
	background-color: $aqua;
	// opacity: .5;
	height:40px;
	position:fixed;
	bottom:0;
	left:0;
	padding-top: 10px;

	a {
		text-decoration: none;
	}
}

#wrapper {
	margin: auto;
	min-height:100%;
	// position:relative;
}


#main {
	// padding: 20px 20px 40px 20px;
	// padding-bottom: 40px;
	// padding: 0px;
	/* Bottom Padding must be >= height of the footer */
}

#main-header {
	padding-left: 20px;
	padding-right: 20px;
	background-color: $aqua;
	// opacity: .5;

	#main-logo {
		float: left;
		font-size: 30px;
		min-height: 60px;
	}

	#links {
		float: right;
		min-height: 60px;

		a {
			display: inline-block;
			height: 60px;
			color: dimgray;
			text-decoration: none;
		}
	}

	#main-logo, #links a {
		padding-left: 20px;
		padding-right: 20px;
		transition: all 0.25s ease-in-out;
		text-align: center;
		&:hover {
			// background-color: darken(gray, 20%);
			background-color: dimgray;
			color: #fdfdfd;
			// color: darken(white, 20%);
		}
	}

	#links a {
		padding-top: 20px;
	}
	#main-logo {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.col {
	padding: 20px;
}

/*Clearfix
===========================*/
.group::after{
	content: "";
	display: table;
	clear: both;
}

/*Media Queries
=============================*/
@media (max-width: 768px){
	#links a {
		width: 100%;
		margin-top: 5px;
		float: none !important;
	}
	#links, #main-logo {
		width: 100%;
		height: initial;
		float: none !important;
		margin: auto;
	}
	#main-logo {
		display: block;
	}
}

@import 'contact';
@import 'anything';
