<div id="about">
	<div id="about-me" class="group">
		<div id="overlay-mobile">
		<h1>I'm a web developer and musician living in Brooklyn, New York.</h1>
			<p>I love writing code for the same reasons I enjoy writing music:
				the balance between the left and right brain, the ability to see results immediately, and the feeling of flow it provides. When I'm not programming, I enjoy making weird noises in Ableton Live, jamming with friends, exercising, and being outside.</p>
			<p>Check out the <a ui-sref="projects">projects</a> page to see my recent work,
				or head over to the <a ui-sref="contact">contact</a> page to say hi!</p>
			<p id="ethos">Ethos</p>
				<ul>
					<li>When in doubt, simplify.</li>
					<li>Write more tests.</li>
					<li>If you can't think of a good name for something, rethink your design.</li>
					<li>"Good code is its own best documentation."</li>
					<li>"Good design starts with empathy."</li>
					<li>Double your whitespace.</li>
					<li>Save colors for last.</li>
				</ul>
		</div>
	</div>
	<div id="skills-cloud" class="group">
		<h1>Skills</h1>
	</div> 
	<div id="skills-mobile">
		<h1 id="skills-header">Skills</h1>
		<div id="skill-list">
			<div class="skill-circle" ng-repeat="skill in skills" style="background-color:{{skill.color}}">{{skill.name}}</div>
		</div>
	</div>
</div>
