<div id="about">
	<h1>Hi! My name is Steve Colacurcio</h1>
	<div id="left-col">
		<h1>and I'm</h1>
	</div>
	<div id="right-col">
		<!-- <ul id="traits">
			<li>a web developer</li>
			<li>a musician</li>
			<li>obsessed with pastels</li>
		</ul> -->
		<div id="carousel-wrapper">
			<div id="carousel" data-state="1" style="-webkit-transform: rotateX(0deg)">
				<figure id="fig-1">a web developer</figure>
				<figure id="fig-2">a musician</figure>
				<figure id="fig-3">obsessed with pastels</figure>
				<figure id="fig-4">Side 4</figure>
				<figure id="fig-5">Side 5</figure>
				<figure id="fig-6">Side 6</figure>
			</div>
		</div>
	</div>
</div>
