<div id="contact">
	<h1>Contact</h1>
	<div class="social">
		<a href="https://plus.google.com/+StephenColacurcio/posts">
			<i id="google" class="fa fa-google-plus"></i>
		</a>
		<a href="https://linkedin.com/in/scolacurcio">
			<i id="linkedin" class="fa fa-linkedin"></i>
		</a>
		<a href="https://github.com/scolacur">
			<i id="github" class="fa fa-github"></i>
		</a>
		<a id="resume" target="_blank" href="https://www.dropbox.com/s/wkmhvz0lxgbbkef/Stephen%20Colacurcio%20Resume%2010-15.pdf?dl=0">Résumé</a>
	</div>


	<div id="form-container">
		<h2>Say Hi!</h2>
		<form name="contactForm" ng-submit="contactForm.$valid && sendMail(data)">

			<input id="nameField" name="nameField" type="text" ng-model="data.name" placeholder="Name" required/>

			<input id="emailField" name="emailField" type="email" ng-model="data.email" placeholder="Email" required/>

			<textarea id="messageField" name="messageField" type="text" ng-model="data.message" placeholder="Message" required/></textarea>
			<div class="button-holder">
				<button id="slide-button" type="submit"/>Send</button>
				<div class="ease"></div>
			</div>
		</form>
	</div>
	<div id="thank-you" ng-show="sent">
		<p ng-if="success">Thanks for reaching out! I'll get back to you as soon as possible.</p>
		<p ng-if="!success">Oops! Looks like there was an error with the Mandrill API. <br>
			But that's ok, you can reach me directly here:
			<a href="mailto:stephencolacurcio@gmail.com" target="_top">stephencolacurcio@gmail.com</a>
		</p>
	</div>
</div>
