<div id="contact">
	<div id="resume-container">
		<div id="image-wrapper">
		<img src="sc-resume.png"></img>
		<!-- <a id="download-button" href="/stephen_colacurcio_resume.pdf">Download<p>(Right Click & "Save Link As")</p></a> -->
		<a id="download-button" href="https://calm-tor-5519.herokuapp.com/stephen_colacurcio_resume.pdf" download>Download</a>

		</div>
	</div>
	<div id="overlay"></div>
	<div id="main-content"  class="animated fadeIn">
			<!-- <div class="social animated slideInLeft"> -->
			<div class="social">
			<a href="mailto:stephencolacurcio@gmail.com">
				<i id="email" class="fa fa-envelope"></i>
			</a>
			<a target="_blank" href="https://plus.google.com/+StephenColacurcio/posts">
				<i id="google" class="fa fa-google-plus"></i>
			</a>
			<a id="resume">Résumé</a>
			<!-- <a id="resume" target="_blank" href="https://www.dropbox.com/s/wkmhvz0lxgbbkef/Stephen%20Colacurcio%20Resume%2010-15.pdf?dl=0">Résumé</a> -->
			<a target="_blank" href="https://linkedin.com/in/scolacurcio">
				<i id="linkedin" class="fa fa-linkedin"></i>
			</a>
			<a target="_blank" href="https://github.com/scolacur">
				<i id="github" class="fa fa-github"></i>
			</a>
		</div>
		<div id="form-container">
			<h2>Let's chat.</h2>
			<form name="contactForm" ng-submit="contactForm.$valid && sendMail(formData)" ng-hide="sent">
				<input id="nameField" name="nameField" type="text" ng-model="formData.name" placeholder="Name" required/>
				<input id="emailField" name="emailField" type="email" ng-model="formData.email" placeholder="Email" required/>
				<textarea id="messageField" name="messageField" type="text" ng-model="formData.message" placeholder="Message" required/></textarea>
				<div class="button-holder group">
					<button id="slide-button" type="submit">
						<p ng-hide="waiting">Send</p>
						<div id="waiting" ng-show="waiting">
							<img src="ring-alt.svg"></img>
						</div>
					</button>
					<!-- <div class="ease">	</div> -->
				</div>
			</form>
			<div id="thank-you" ng-show="sent">
				<p ng-if="success">Thanks for reaching out! I'll get back to you as soon as possible.</p>
				<p ng-if="!success">Oops! Looks like there was a problem with the Mandrill API. <br>
					Feel free to email me directly at
					<a href="mailto:stephencolacurcio@gmail.com" target="_top">stephencolacurcio@gmail.com</a>
				</p>
				<button ng-click="sent=false">Back to Form</button>
			</div>
		</div>
	</div>
</div>
