<div id="home">
	<div id="header">
		<h1 class="left-col animated flipInX cool-underline">My name is Steve <a target="_blank" href="http://www.youtube.com/watch?v=ciyXzXN8CYk">Colacurcio</a>, and I'm</h1>
		<ul id="static-bars">
			<li id="fig-1">a web developer</li>
			<li id="fig-2">and a musician</li>
			<li id="fig-3">a big fan of neon</li>
			<li id="fig-4">currently in Brooklyn</li>
			<li id="fig-5">willing to relocate</li>
			<li id="fig-6">please hire me</li>
		</ul>
		<div id="graphic">
			<div id="carousel-wrapper" class="animated fadeIn">
				<div id="carousel" data-state="1" style="-webkit-transform: rotateX(0deg)">
					<figure id="fig-1">a web developer</figure>
					<figure id="fig-2">and a musician</figure>
					<figure id="fig-3">a big fan of neon</figure>
					<figure id="fig-4">currently in Brooklyn</figure>
					<figure id="fig-5">willing to relocate</figure>
					<figure id="fig-6">please hire me</figure>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-panel">
		<a ui-sref="projects" id="projects-header">Selected Projects</a>
		<hr>
		<ul id="projects-row">
			<li id="project-1">
				<a href="/projects#p1">
					<div class="overlay">
						<h1>Cohearence</h1>
						<p>All your music from the web, in one place.</p>
					</div>
				</a>
			</li>
			<li id="project-2">
				<a href="/projects#proj2">
					<div class="overlay">
						<h1>Spheres</h1>
						<p>It's like that game "Simon", but with constellations.</p>

					</div>
				</a>
			</li>
			<li id="project-3">
				<a href="/projects#proj3">
					<div class="overlay">
						<h1>I Don't Care, Just Give Me Things</h1>
						<p>Make a store, design the store, sell some stuff.</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
