<projects-mobile></projects-mobile>
<div id="projects" class="skw-pages">
	<div id="p1" class="skw-page skw-page-1 active">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div id="p1-content" class="skw-page__content">
					<h1 id="p1-heading" class="skw-page__heading">Projects</h1>
					<div id="scroll-icons">
						<p>Use</p>
						<!-- <i id="down-arrow" class="fa fa-arrow-down"></i> -->
						<img src="arrowkeys.svg" id="arrows"></img>
						<p>or</p>
						<img src="mouse-wheel.svg" id="mouse"></img>
						<p>to scroll.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="p2" class="skw-page skw-page-2">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h1 class="skw-page__heading"><a target="_blank" href="http://cohearence.io">Cohearence</a></h1>
					<p class="skw-page__description">Cohearence is a Chrome extension that automatically remembers what you listen to on YouTube, Spotify, Soundcloud, and Bandcamp, giving you one central database to listen to and manage music you find online.</p>
					<h2 class="skw-page__description">Technologies used:</h2>
					<ul class="skw-page__description">
						<li>Node.js</li>
						<li>Angular.js</li>
						<li>Express.js</li>
						<li>MongoDB</li>
						<li>Echo Nest API</li>
						<li>Youtube Search API</li>
						<li>Youtube IFrame Player API</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<a target="_blank" href="http://cohearence.io">
				<div class="skw-page__skewed">
					<div class="skw-page__content"></div>
				</div>
			</a>
		</div>
	</div>

	<div id="p3" class="skw-page skw-page-3">
		<div class="skw-page__half skw-page__half--left">
			<a target="_blank" href="http://spheres.xyz">
				<div class="skw-page__skewed">
					<div class="skw-page__content"></div>
				</div>
			</a>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h1 class="skw-page__heading"><a target="_blank" href="http://spheres.xyz">Spheres</a></h1>
					<p class="skw-page__description">A web-based musical memory game, similar to Simon, in which players repeat increasingly-complicated note patterns in order to build constellations in the sky.</p>
					<p class="skw-page__description">Proud Winner of Best Design Award at Fullstack Academy 1507 Hackathon</p>
					<h2 class="skw-page__description">Technologies used:</h2>
					<ul class="skw-page__description">
						<li>Node.js</li>
						<li>Angular.js</li>
						<li>Express.js</li>
						<li>SVG Animations</li>
						<li>CSS Animations</li>
						<li>Web Audio API</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id="p4" class="skw-page skw-page-4">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h1 class="skw-page__heading"><a target="_blank" href="http://idcjgmt.seanj.ninja">I Don't Care, Just Give Me Things</a></h1>
					<p class="skw-page__description">An e-commerce site built with the MEAN Stack where users can create and design their own storefronts.</p>
					<p class="skw-page__description">Every 10 seconds, a new random item in the store goes on sale for 100% off, but you have find it.</p>
					<h2 class="skw-page__description">Technologies used:</h2>
					<ul class="skw-page__description">
						<li>Node.js</li>
						<li>Angular.js</li>
						<li>Express.js</li>
						<li>MongoDB</li>
						<li>Sockets</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<a target="_blank" href="http://idcjgmt.seanj.ninja">
				<div class="skw-page__skewed">
					<div class="skw-page__content"></div>
				</div>
			</a>
		</div>
	</div>

	<div id="p5" class="skw-page skw-page-5">
		<div class="skw-page__half skw-page__half--left">
			<div class="skw-page__skewed">
				<div class="skw-page__content"></div>
			</div>
		</div>
		<div class="skw-page__half skw-page__half--right">
			<div class="skw-page__skewed">
				<div class="skw-page__content">
					<h1 id="coming-soon" class="skw-page__heading">More coming soon!</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="progress-bar">
		<div id="p1" class="progress-point current"></div>
		<div id="p2" class="progress-point"></div>
		<div id="p3" class="progress-point"></div>
		<div id="p4" class="progress-point"></div>
		<div id="p5" class="progress-point"></div>
	</div> -->
</div>
